@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.project-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    transform: scale(150%);
}

.project a {
    position: relative;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: center;
    justify-content: center;
}

.project.calculadora-logica a:hover {
    color: white;
    background: #4290e4;
    letter-spacing: 0.20em;
    transform: translateY(-5px);
    box-shadow: 0 0px 35px #4290e4;
}

.project.conversor-bases a:hover {
    color: white;
    background: #e48542;
    letter-spacing: 0.20em;
    transform: translateY(-5px);
    box-shadow: 0 0px 35px #e48542;
}

.project.calculadora-booleana a:hover {
    color: white;
    background: #be42e4;
    letter-spacing: 0.20em;
    transform: translateY(-5px);
    box-shadow: 0 0px 35px #be42e4;
}

.project.graficador-funciones a:hover {
    color: white;
    background: #45e442;
    letter-spacing: 0.20em;
    transform: translateY(-5px);
    box-shadow: 0 0px 35px #45e442;
}

.project.evaluador-funciones a:hover {
    color: white;
    background: #f0e915;
    letter-spacing: 0.20em;
    transform: translateY(-5px);
    box-shadow: 0 0px 35px #f0e915;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    height: 5%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 300%;
    font-style: normal;
    text-align: center;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: normal;
}
